body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:600px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u9144_div {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:620px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9144 {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:620px;
}
#u9145 {
  position:absolute;
  left:2px;
  top:302px;
  width:596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9146_div {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:left;
}
#u9146 {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:left;
}
#u9147 {
  position:absolute;
  left:30px;
  top:16px;
  width:568px;
  word-wrap:break-word;
}
#u9148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u9148 {
  position:absolute;
  left:560px;
  top:14px;
  width:22px;
  height:22px;
  color:#666666;
}
#u9149 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  word-wrap:break-word;
}
#u9150_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(26, 188, 156, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1ABC9C;
}
#u9150 {
  position:absolute;
  left:403px;
  top:523px;
  width:80px;
  height:35px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1ABC9C;
}
#u9150_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(26, 188, 156, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1ABC9C;
}
#u9150.mouseDown {
}
#u9151 {
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u9152_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:35px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9152 {
  position:absolute;
  left:495px;
  top:523px;
  width:80px;
  height:35px;
}
#u9153 {
  position:absolute;
  left:2px;
  top:10px;
  width:76px;
  word-wrap:break-word;
}
#u9154 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9155_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9155 {
  position:absolute;
  left:28px;
  top:89px;
  width:57px;
  height:16px;
}
#u9156 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u9157 {
  position:absolute;
  left:93px;
  top:84px;
  width:111px;
  height:25px;
}
#u9157_input {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u9158 {
  position:absolute;
  left:28px;
  top:143px;
  width:541px;
  height:325px;
}
#u9159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:40px;
}
#u9159 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:40px;
  text-align:left;
}
#u9160 {
  position:absolute;
  left:20px;
  top:12px;
  width:49px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9161_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:40px;
}
#u9161 {
  position:absolute;
  left:71px;
  top:0px;
  width:48px;
  height:40px;
  text-align:left;
}
#u9162 {
  position:absolute;
  left:20px;
  top:12px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9163_img {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:40px;
}
#u9163 {
  position:absolute;
  left:119px;
  top:0px;
  width:204px;
  height:40px;
  text-align:left;
}
#u9164 {
  position:absolute;
  left:40px;
  top:12px;
  width:162px;
  word-wrap:break-word;
}
#u9165_img {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:40px;
}
#u9165 {
  position:absolute;
  left:323px;
  top:0px;
  width:213px;
  height:40px;
  text-align:left;
}
#u9166 {
  position:absolute;
  left:20px;
  top:12px;
  width:191px;
  word-wrap:break-word;
}
#u9167_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:40px;
}
#u9167 {
  position:absolute;
  left:0px;
  top:40px;
  width:71px;
  height:40px;
  text-align:left;
}
#u9168 {
  position:absolute;
  left:20px;
  top:12px;
  width:49px;
  word-wrap:break-word;
}
#u9169_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:40px;
}
#u9169 {
  position:absolute;
  left:71px;
  top:40px;
  width:48px;
  height:40px;
  text-align:left;
}
#u9170 {
  position:absolute;
  left:20px;
  top:12px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9171_img {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:40px;
}
#u9171 {
  position:absolute;
  left:119px;
  top:40px;
  width:204px;
  height:40px;
  text-align:left;
}
#u9172 {
  position:absolute;
  left:40px;
  top:12px;
  width:162px;
  word-wrap:break-word;
}
#u9173_img {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:40px;
}
#u9173 {
  position:absolute;
  left:323px;
  top:40px;
  width:213px;
  height:40px;
  text-align:left;
}
#u9174 {
  position:absolute;
  left:20px;
  top:12px;
  width:191px;
  word-wrap:break-word;
}
#u9175_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:40px;
}
#u9175 {
  position:absolute;
  left:0px;
  top:80px;
  width:71px;
  height:40px;
  text-align:left;
}
#u9176 {
  position:absolute;
  left:20px;
  top:12px;
  width:49px;
  word-wrap:break-word;
}
#u9177_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:40px;
}
#u9177 {
  position:absolute;
  left:71px;
  top:80px;
  width:48px;
  height:40px;
  text-align:left;
}
#u9178 {
  position:absolute;
  left:20px;
  top:12px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9179_img {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:40px;
}
#u9179 {
  position:absolute;
  left:119px;
  top:80px;
  width:204px;
  height:40px;
  text-align:left;
}
#u9180 {
  position:absolute;
  left:60px;
  top:12px;
  width:142px;
  word-wrap:break-word;
}
#u9181_img {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:40px;
}
#u9181 {
  position:absolute;
  left:323px;
  top:80px;
  width:213px;
  height:40px;
  text-align:left;
}
#u9182 {
  position:absolute;
  left:20px;
  top:12px;
  width:191px;
  word-wrap:break-word;
}
#u9183_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:40px;
}
#u9183 {
  position:absolute;
  left:0px;
  top:120px;
  width:71px;
  height:40px;
  text-align:left;
}
#u9184 {
  position:absolute;
  left:20px;
  top:12px;
  width:49px;
  word-wrap:break-word;
}
#u9185_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:40px;
}
#u9185 {
  position:absolute;
  left:71px;
  top:120px;
  width:48px;
  height:40px;
  text-align:left;
}
#u9186 {
  position:absolute;
  left:20px;
  top:12px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9187_img {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:40px;
}
#u9187 {
  position:absolute;
  left:119px;
  top:120px;
  width:204px;
  height:40px;
  text-align:left;
}
#u9188 {
  position:absolute;
  left:80px;
  top:12px;
  width:122px;
  word-wrap:break-word;
}
#u9189_img {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:40px;
}
#u9189 {
  position:absolute;
  left:323px;
  top:120px;
  width:213px;
  height:40px;
  text-align:left;
}
#u9190 {
  position:absolute;
  left:20px;
  top:12px;
  width:191px;
  word-wrap:break-word;
}
#u9191_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:40px;
}
#u9191 {
  position:absolute;
  left:0px;
  top:160px;
  width:71px;
  height:40px;
  text-align:left;
}
#u9192 {
  position:absolute;
  left:20px;
  top:12px;
  width:49px;
  word-wrap:break-word;
}
#u9193_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:40px;
}
#u9193 {
  position:absolute;
  left:71px;
  top:160px;
  width:48px;
  height:40px;
  text-align:left;
}
#u9194 {
  position:absolute;
  left:20px;
  top:12px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9195_img {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:40px;
}
#u9195 {
  position:absolute;
  left:119px;
  top:160px;
  width:204px;
  height:40px;
  text-align:left;
}
#u9196 {
  position:absolute;
  left:60px;
  top:12px;
  width:142px;
  word-wrap:break-word;
}
#u9197_img {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:40px;
}
#u9197 {
  position:absolute;
  left:323px;
  top:160px;
  width:213px;
  height:40px;
  text-align:left;
}
#u9198 {
  position:absolute;
  left:20px;
  top:12px;
  width:191px;
  word-wrap:break-word;
}
#u9199_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:40px;
}
#u9199 {
  position:absolute;
  left:0px;
  top:200px;
  width:71px;
  height:40px;
  text-align:left;
}
#u9200 {
  position:absolute;
  left:20px;
  top:12px;
  width:49px;
  word-wrap:break-word;
}
#u9201_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:40px;
}
#u9201 {
  position:absolute;
  left:71px;
  top:200px;
  width:48px;
  height:40px;
  text-align:left;
}
#u9202 {
  position:absolute;
  left:20px;
  top:12px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9203_img {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:40px;
}
#u9203 {
  position:absolute;
  left:119px;
  top:200px;
  width:204px;
  height:40px;
  text-align:left;
}
#u9204 {
  position:absolute;
  left:60px;
  top:12px;
  width:142px;
  word-wrap:break-word;
}
#u9205_img {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:40px;
}
#u9205 {
  position:absolute;
  left:323px;
  top:200px;
  width:213px;
  height:40px;
  text-align:left;
}
#u9206 {
  position:absolute;
  left:20px;
  top:12px;
  width:191px;
  word-wrap:break-word;
}
#u9207_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:40px;
}
#u9207 {
  position:absolute;
  left:0px;
  top:240px;
  width:71px;
  height:40px;
  text-align:left;
}
#u9208 {
  position:absolute;
  left:20px;
  top:12px;
  width:49px;
  word-wrap:break-word;
}
#u9209_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:40px;
}
#u9209 {
  position:absolute;
  left:71px;
  top:240px;
  width:48px;
  height:40px;
  text-align:left;
}
#u9210 {
  position:absolute;
  left:20px;
  top:12px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9211_img {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:40px;
}
#u9211 {
  position:absolute;
  left:119px;
  top:240px;
  width:204px;
  height:40px;
  text-align:left;
}
#u9212 {
  position:absolute;
  left:80px;
  top:12px;
  width:122px;
  word-wrap:break-word;
}
#u9213_img {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:40px;
}
#u9213 {
  position:absolute;
  left:323px;
  top:240px;
  width:213px;
  height:40px;
  text-align:left;
}
#u9214 {
  position:absolute;
  left:20px;
  top:12px;
  width:191px;
  word-wrap:break-word;
}
#u9215_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:40px;
}
#u9215 {
  position:absolute;
  left:0px;
  top:280px;
  width:71px;
  height:40px;
  text-align:left;
}
#u9216 {
  position:absolute;
  left:20px;
  top:12px;
  width:49px;
  word-wrap:break-word;
}
#u9217_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:40px;
}
#u9217 {
  position:absolute;
  left:71px;
  top:280px;
  width:48px;
  height:40px;
  text-align:left;
}
#u9218 {
  position:absolute;
  left:20px;
  top:12px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9219_img {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:40px;
}
#u9219 {
  position:absolute;
  left:119px;
  top:280px;
  width:204px;
  height:40px;
  text-align:left;
}
#u9220 {
  position:absolute;
  left:80px;
  top:12px;
  width:122px;
  word-wrap:break-word;
}
#u9221_img {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:40px;
}
#u9221 {
  position:absolute;
  left:323px;
  top:280px;
  width:213px;
  height:40px;
  text-align:left;
}
#u9222 {
  position:absolute;
  left:20px;
  top:12px;
  width:191px;
  word-wrap:break-word;
}
#u9223_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:21px;
}
#u9223 {
  position:absolute;
  left:202px;
  top:273px;
  width:20px;
  height:21px;
}
#u9224 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9225_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:16px;
}
#u9225 {
  position:absolute;
  left:148px;
  top:195px;
  width:34px;
  height:16px;
}
#u9226 {
  position:absolute;
  left:2px;
  top:0px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9227_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:18px;
}
#u9227 {
  position:absolute;
  left:168px;
  top:314px;
  width:35px;
  height:18px;
}
#u9228 {
  position:absolute;
  left:2px;
  top:1px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9229_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:16px;
}
#u9229 {
  position:absolute;
  left:169px;
  top:235px;
  width:34px;
  height:16px;
}
#u9230 {
  position:absolute;
  left:2px;
  top:0px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9231_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:16px;
}
#u9231 {
  position:absolute;
  left:169px;
  top:355px;
  width:34px;
  height:16px;
}
#u9232 {
  position:absolute;
  left:2px;
  top:0px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9233_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:21px;
}
#u9233 {
  position:absolute;
  left:202px;
  top:393px;
  width:20px;
  height:21px;
}
#u9234 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9235_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:21px;
}
#u9235 {
  position:absolute;
  left:202px;
  top:432px;
  width:20px;
  height:21px;
}
#u9236 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9237 {
  position:absolute;
  left:117px;
  top:195px;
  width:21px;
  height:16px;
}
#u9238 {
  position:absolute;
  left:16px;
  top:0px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9237_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u9239 {
  position:absolute;
  left:117px;
  top:235px;
  width:21px;
  height:16px;
}
#u9240 {
  position:absolute;
  left:16px;
  top:0px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9239_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u9241 {
  position:absolute;
  left:117px;
  top:275px;
  width:21px;
  height:16px;
}
#u9242 {
  position:absolute;
  left:16px;
  top:0px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9241_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u9243 {
  position:absolute;
  left:117px;
  top:315px;
  width:21px;
  height:16px;
}
#u9244 {
  position:absolute;
  left:16px;
  top:0px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9243_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u9245 {
  position:absolute;
  left:117px;
  top:355px;
  width:21px;
  height:16px;
}
#u9246 {
  position:absolute;
  left:16px;
  top:0px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9245_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u9247 {
  position:absolute;
  left:117px;
  top:398px;
  width:21px;
  height:16px;
}
#u9248 {
  position:absolute;
  left:16px;
  top:0px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9247_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u9249 {
  position:absolute;
  left:117px;
  top:437px;
  width:21px;
  height:16px;
}
#u9250 {
  position:absolute;
  left:16px;
  top:0px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9249_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u9251 {
  position:absolute;
  left:117px;
  top:157px;
  width:21px;
  height:16px;
}
#u9252 {
  position:absolute;
  left:16px;
  top:0px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9251_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u9253 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9254_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9254 {
  position:absolute;
  left:226px;
  top:89px;
  width:57px;
  height:16px;
}
#u9255 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u9256 {
  position:absolute;
  left:289px;
  top:84px;
  width:111px;
  height:25px;
}
#u9256_input {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u9257_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(119, 119, 119, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u9257 {
  position:absolute;
  left:428px;
  top:83px;
  width:61px;
  height:28px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u9257_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:28px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(119, 119, 119, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u9257.mouseDown {
}
#u9258 {
  position:absolute;
  left:2px;
  top:4px;
  width:57px;
  word-wrap:break-word;
}
#u9259_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(119, 119, 119, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u9259 {
  position:absolute;
  left:502px;
  top:83px;
  width:61px;
  height:28px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u9259_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:28px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(119, 119, 119, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u9259.mouseDown {
}
#u9260 {
  position:absolute;
  left:2px;
  top:4px;
  width:57px;
  word-wrap:break-word;
}
