body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:600px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7909_div {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:620px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7909 {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:620px;
}
#u7910 {
  position:absolute;
  left:2px;
  top:302px;
  width:596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7911_div {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:left;
}
#u7911 {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:left;
}
#u7912 {
  position:absolute;
  left:30px;
  top:16px;
  width:568px;
  word-wrap:break-word;
}
#u7913_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u7913 {
  position:absolute;
  left:560px;
  top:14px;
  width:22px;
  height:22px;
  color:#666666;
}
#u7914 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  word-wrap:break-word;
}
#u7915_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(26, 188, 156, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1ABC9C;
}
#u7915 {
  position:absolute;
  left:403px;
  top:523px;
  width:80px;
  height:35px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1ABC9C;
}
#u7915_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(26, 188, 156, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1ABC9C;
}
#u7915.mouseDown {
}
#u7916 {
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u7917_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:35px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7917 {
  position:absolute;
  left:495px;
  top:523px;
  width:80px;
  height:35px;
}
#u7918 {
  position:absolute;
  left:2px;
  top:10px;
  width:76px;
  word-wrap:break-word;
}
#u7919 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7920_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7920 {
  position:absolute;
  left:28px;
  top:89px;
  width:57px;
  height:16px;
}
#u7921 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u7922 {
  position:absolute;
  left:93px;
  top:84px;
  width:111px;
  height:25px;
}
#u7922_input {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u7923 {
  position:absolute;
  left:28px;
  top:143px;
  width:541px;
  height:325px;
}
#u7924_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:40px;
}
#u7924 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:40px;
  text-align:left;
}
#u7925 {
  position:absolute;
  left:20px;
  top:12px;
  width:49px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7926_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:40px;
}
#u7926 {
  position:absolute;
  left:71px;
  top:0px;
  width:48px;
  height:40px;
  text-align:left;
}
#u7927 {
  position:absolute;
  left:20px;
  top:12px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7928_img {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:40px;
}
#u7928 {
  position:absolute;
  left:119px;
  top:0px;
  width:204px;
  height:40px;
  text-align:left;
}
#u7929 {
  position:absolute;
  left:40px;
  top:12px;
  width:162px;
  word-wrap:break-word;
}
#u7930_img {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:40px;
}
#u7930 {
  position:absolute;
  left:323px;
  top:0px;
  width:213px;
  height:40px;
  text-align:left;
}
#u7931 {
  position:absolute;
  left:20px;
  top:12px;
  width:191px;
  word-wrap:break-word;
}
#u7932_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:40px;
}
#u7932 {
  position:absolute;
  left:0px;
  top:40px;
  width:71px;
  height:40px;
  text-align:left;
}
#u7933 {
  position:absolute;
  left:20px;
  top:12px;
  width:49px;
  word-wrap:break-word;
}
#u7934_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:40px;
}
#u7934 {
  position:absolute;
  left:71px;
  top:40px;
  width:48px;
  height:40px;
  text-align:left;
}
#u7935 {
  position:absolute;
  left:20px;
  top:12px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7936_img {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:40px;
}
#u7936 {
  position:absolute;
  left:119px;
  top:40px;
  width:204px;
  height:40px;
  text-align:left;
}
#u7937 {
  position:absolute;
  left:40px;
  top:12px;
  width:162px;
  word-wrap:break-word;
}
#u7938_img {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:40px;
}
#u7938 {
  position:absolute;
  left:323px;
  top:40px;
  width:213px;
  height:40px;
  text-align:left;
}
#u7939 {
  position:absolute;
  left:20px;
  top:12px;
  width:191px;
  word-wrap:break-word;
}
#u7940_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:40px;
}
#u7940 {
  position:absolute;
  left:0px;
  top:80px;
  width:71px;
  height:40px;
  text-align:left;
}
#u7941 {
  position:absolute;
  left:20px;
  top:12px;
  width:49px;
  word-wrap:break-word;
}
#u7942_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:40px;
}
#u7942 {
  position:absolute;
  left:71px;
  top:80px;
  width:48px;
  height:40px;
  text-align:left;
}
#u7943 {
  position:absolute;
  left:20px;
  top:12px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7944_img {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:40px;
}
#u7944 {
  position:absolute;
  left:119px;
  top:80px;
  width:204px;
  height:40px;
  text-align:left;
}
#u7945 {
  position:absolute;
  left:60px;
  top:12px;
  width:142px;
  word-wrap:break-word;
}
#u7946_img {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:40px;
}
#u7946 {
  position:absolute;
  left:323px;
  top:80px;
  width:213px;
  height:40px;
  text-align:left;
}
#u7947 {
  position:absolute;
  left:20px;
  top:12px;
  width:191px;
  word-wrap:break-word;
}
#u7948_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:40px;
}
#u7948 {
  position:absolute;
  left:0px;
  top:120px;
  width:71px;
  height:40px;
  text-align:left;
}
#u7949 {
  position:absolute;
  left:20px;
  top:12px;
  width:49px;
  word-wrap:break-word;
}
#u7950_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:40px;
}
#u7950 {
  position:absolute;
  left:71px;
  top:120px;
  width:48px;
  height:40px;
  text-align:left;
}
#u7951 {
  position:absolute;
  left:20px;
  top:12px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7952_img {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:40px;
}
#u7952 {
  position:absolute;
  left:119px;
  top:120px;
  width:204px;
  height:40px;
  text-align:left;
}
#u7953 {
  position:absolute;
  left:80px;
  top:12px;
  width:122px;
  word-wrap:break-word;
}
#u7954_img {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:40px;
}
#u7954 {
  position:absolute;
  left:323px;
  top:120px;
  width:213px;
  height:40px;
  text-align:left;
}
#u7955 {
  position:absolute;
  left:20px;
  top:12px;
  width:191px;
  word-wrap:break-word;
}
#u7956_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:40px;
}
#u7956 {
  position:absolute;
  left:0px;
  top:160px;
  width:71px;
  height:40px;
  text-align:left;
}
#u7957 {
  position:absolute;
  left:20px;
  top:12px;
  width:49px;
  word-wrap:break-word;
}
#u7958_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:40px;
}
#u7958 {
  position:absolute;
  left:71px;
  top:160px;
  width:48px;
  height:40px;
  text-align:left;
}
#u7959 {
  position:absolute;
  left:20px;
  top:12px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7960_img {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:40px;
}
#u7960 {
  position:absolute;
  left:119px;
  top:160px;
  width:204px;
  height:40px;
  text-align:left;
}
#u7961 {
  position:absolute;
  left:60px;
  top:12px;
  width:142px;
  word-wrap:break-word;
}
#u7962_img {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:40px;
}
#u7962 {
  position:absolute;
  left:323px;
  top:160px;
  width:213px;
  height:40px;
  text-align:left;
}
#u7963 {
  position:absolute;
  left:20px;
  top:12px;
  width:191px;
  word-wrap:break-word;
}
#u7964_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:40px;
}
#u7964 {
  position:absolute;
  left:0px;
  top:200px;
  width:71px;
  height:40px;
  text-align:left;
}
#u7965 {
  position:absolute;
  left:20px;
  top:12px;
  width:49px;
  word-wrap:break-word;
}
#u7966_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:40px;
}
#u7966 {
  position:absolute;
  left:71px;
  top:200px;
  width:48px;
  height:40px;
  text-align:left;
}
#u7967 {
  position:absolute;
  left:20px;
  top:12px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7968_img {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:40px;
}
#u7968 {
  position:absolute;
  left:119px;
  top:200px;
  width:204px;
  height:40px;
  text-align:left;
}
#u7969 {
  position:absolute;
  left:60px;
  top:12px;
  width:142px;
  word-wrap:break-word;
}
#u7970_img {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:40px;
}
#u7970 {
  position:absolute;
  left:323px;
  top:200px;
  width:213px;
  height:40px;
  text-align:left;
}
#u7971 {
  position:absolute;
  left:20px;
  top:12px;
  width:191px;
  word-wrap:break-word;
}
#u7972_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:40px;
}
#u7972 {
  position:absolute;
  left:0px;
  top:240px;
  width:71px;
  height:40px;
  text-align:left;
}
#u7973 {
  position:absolute;
  left:20px;
  top:12px;
  width:49px;
  word-wrap:break-word;
}
#u7974_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:40px;
}
#u7974 {
  position:absolute;
  left:71px;
  top:240px;
  width:48px;
  height:40px;
  text-align:left;
}
#u7975 {
  position:absolute;
  left:20px;
  top:12px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7976_img {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:40px;
}
#u7976 {
  position:absolute;
  left:119px;
  top:240px;
  width:204px;
  height:40px;
  text-align:left;
}
#u7977 {
  position:absolute;
  left:80px;
  top:12px;
  width:122px;
  word-wrap:break-word;
}
#u7978_img {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:40px;
}
#u7978 {
  position:absolute;
  left:323px;
  top:240px;
  width:213px;
  height:40px;
  text-align:left;
}
#u7979 {
  position:absolute;
  left:20px;
  top:12px;
  width:191px;
  word-wrap:break-word;
}
#u7980_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:40px;
}
#u7980 {
  position:absolute;
  left:0px;
  top:280px;
  width:71px;
  height:40px;
  text-align:left;
}
#u7981 {
  position:absolute;
  left:20px;
  top:12px;
  width:49px;
  word-wrap:break-word;
}
#u7982_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:40px;
}
#u7982 {
  position:absolute;
  left:71px;
  top:280px;
  width:48px;
  height:40px;
  text-align:left;
}
#u7983 {
  position:absolute;
  left:20px;
  top:12px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7984_img {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:40px;
}
#u7984 {
  position:absolute;
  left:119px;
  top:280px;
  width:204px;
  height:40px;
  text-align:left;
}
#u7985 {
  position:absolute;
  left:80px;
  top:12px;
  width:122px;
  word-wrap:break-word;
}
#u7986_img {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:40px;
}
#u7986 {
  position:absolute;
  left:323px;
  top:280px;
  width:213px;
  height:40px;
  text-align:left;
}
#u7987 {
  position:absolute;
  left:20px;
  top:12px;
  width:191px;
  word-wrap:break-word;
}
#u7988_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:21px;
}
#u7988 {
  position:absolute;
  left:202px;
  top:273px;
  width:20px;
  height:21px;
}
#u7989 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7990_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:16px;
}
#u7990 {
  position:absolute;
  left:148px;
  top:195px;
  width:34px;
  height:16px;
}
#u7991 {
  position:absolute;
  left:2px;
  top:0px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7992_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:18px;
}
#u7992 {
  position:absolute;
  left:168px;
  top:314px;
  width:35px;
  height:18px;
}
#u7993 {
  position:absolute;
  left:2px;
  top:1px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7994_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:16px;
}
#u7994 {
  position:absolute;
  left:169px;
  top:235px;
  width:34px;
  height:16px;
}
#u7995 {
  position:absolute;
  left:2px;
  top:0px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7996_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:16px;
}
#u7996 {
  position:absolute;
  left:169px;
  top:355px;
  width:34px;
  height:16px;
}
#u7997 {
  position:absolute;
  left:2px;
  top:0px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7998_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:21px;
}
#u7998 {
  position:absolute;
  left:202px;
  top:393px;
  width:20px;
  height:21px;
}
#u7999 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:21px;
}
#u8000 {
  position:absolute;
  left:202px;
  top:432px;
  width:20px;
  height:21px;
}
#u8001 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8002 {
  position:absolute;
  left:117px;
  top:195px;
  width:21px;
  height:16px;
}
#u8003 {
  position:absolute;
  left:16px;
  top:0px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8002_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u8004 {
  position:absolute;
  left:117px;
  top:235px;
  width:21px;
  height:16px;
}
#u8005 {
  position:absolute;
  left:16px;
  top:0px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8004_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u8006 {
  position:absolute;
  left:117px;
  top:275px;
  width:21px;
  height:16px;
}
#u8007 {
  position:absolute;
  left:16px;
  top:0px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8006_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u8008 {
  position:absolute;
  left:117px;
  top:315px;
  width:21px;
  height:16px;
}
#u8009 {
  position:absolute;
  left:16px;
  top:0px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8008_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u8010 {
  position:absolute;
  left:117px;
  top:355px;
  width:21px;
  height:16px;
}
#u8011 {
  position:absolute;
  left:16px;
  top:0px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8010_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u8012 {
  position:absolute;
  left:117px;
  top:398px;
  width:21px;
  height:16px;
}
#u8013 {
  position:absolute;
  left:16px;
  top:0px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8012_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u8014 {
  position:absolute;
  left:117px;
  top:437px;
  width:21px;
  height:16px;
}
#u8015 {
  position:absolute;
  left:16px;
  top:0px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8014_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u8016 {
  position:absolute;
  left:117px;
  top:157px;
  width:21px;
  height:16px;
}
#u8017 {
  position:absolute;
  left:16px;
  top:0px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8016_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u8018 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8019_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8019 {
  position:absolute;
  left:226px;
  top:89px;
  width:57px;
  height:16px;
}
#u8020 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u8021 {
  position:absolute;
  left:289px;
  top:84px;
  width:111px;
  height:25px;
}
#u8021_input {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8022_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(119, 119, 119, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u8022 {
  position:absolute;
  left:428px;
  top:83px;
  width:61px;
  height:28px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u8022_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:28px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(119, 119, 119, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u8022.mouseDown {
}
#u8023 {
  position:absolute;
  left:2px;
  top:4px;
  width:57px;
  word-wrap:break-word;
}
#u8024_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(119, 119, 119, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u8024 {
  position:absolute;
  left:502px;
  top:83px;
  width:61px;
  height:28px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u8024_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:28px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(119, 119, 119, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u8024.mouseDown {
}
#u8025 {
  position:absolute;
  left:2px;
  top:4px;
  width:57px;
  word-wrap:break-word;
}
