body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1366px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:50px;
  width:1366px;
  height:800px;
}
#u0_input {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:800px;
}
#u1 {
  position:fixed;
  left:50%;
  margin-left:-225px;
  top:50%;
  margin-top:-115px;
  visibility:hidden;
}
#u1_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u1_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2_div {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:230px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
  line-height:20px;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:230px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
  line-height:20px;
}
#u3 {
  position:absolute;
  left:20px;
  top:15px;
  width:410px;
  word-wrap:break-word;
}
#u4_div {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:117px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:24px;
}
#u4 {
  position:absolute;
  left:0px;
  top:50px;
  width:450px;
  height:117px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:24px;
}
#u5 {
  position:absolute;
  left:20px;
  top:15px;
  width:410px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u8 {
  position:absolute;
  left:256px;
  top:181px;
  width:80px;
  height:35px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u8_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(26, 188, 156, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u8.mouseOver {
}
#u9 {
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u10_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:35px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u10 {
  position:absolute;
  left:356px;
  top:181px;
  width:80px;
  height:35px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u10_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:35px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u10.mouseOver {
  opacity:0.8;
}
#u10_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:35px;
  background:inherit;
  background-color:rgba(59, 177, 156, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u10.mouseDown {
  opacity:1;
}
#u11 {
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u12_div {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:3px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
  line-height:20px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:50px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
  line-height:20px;
}
#u13 {
  position:absolute;
  left:20px;
  top:15px;
  width:410px;
  word-wrap:break-word;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u14 {
  position:absolute;
  left:418px;
  top:20px;
  width:13px;
  height:13px;
}
#u14_img.mouseOver {
}
#u14.mouseOver {
}
#u15 {
  position:absolute;
  left:2px;
  top:-2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:50px;
  background:inherit;
  background-color:rgba(70, 76, 91, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:19px;
  color:#FFFFFF;
  line-height:19px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:50px;
  font-size:19px;
  color:#FFFFFF;
  line-height:19px;
}
#u17 {
  position:absolute;
  left:2px;
  top:17px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#CCCCCC;
  line-height:28px;
}
#u18 {
  position:absolute;
  left:325px;
  top:0px;
  width:121px;
  height:50px;
  font-size:16px;
  color:#CCCCCC;
  line-height:28px;
}
#u18_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:50px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#CCCCCC;
  line-height:28px;
}
#u18.mouseOver {
}
#u18_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:50px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#CCCCCC;
  line-height:28px;
}
#u18.mouseDown {
  opacity:0.8;
}
#u18_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#CCCCCC;
  line-height:28px;
}
#u18.selected {
}
#u19 {
  position:absolute;
  left:0px;
  top:11px;
  width:121px;
  word-wrap:break-word;
}
#u20_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:409;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
  line-height:28px;
}
#u20 {
  position:absolute;
  left:205px;
  top:0px;
  width:121px;
  height:50px;
  font-family:'FontAwesome';
  font-weight:409;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
  line-height:28px;
}
#u20_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:50px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:409;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
  line-height:28px;
}
#u20.mouseOver {
}
#u20_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:50px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:409;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
  line-height:28px;
}
#u20.mouseDown {
  opacity:0.8;
}
#u20_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:409;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
  line-height:28px;
}
#u20.selected {
}
#u21 {
  position:absolute;
  left:0px;
  top:11px;
  width:121px;
  word-wrap:break-word;
}
#u22_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:50px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
  line-height:36px;
}
#u22 {
  position:absolute;
  left:20px;
  top:10px;
  width:30px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
  line-height:36px;
}
#u23 {
  position:absolute;
  left:0px;
  top:7px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u24 {
  position:absolute;
  left:70px;
  top:14px;
  width:37px;
  height:22px;
  font-size:18px;
  color:#FFFFFF;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u26_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
  line-height:28px;
}
#u26 {
  position:absolute;
  left:1286px;
  top:0px;
  width:80px;
  height:50px;
  color:#CCCCCC;
  line-height:28px;
}
#u26_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:50px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
  line-height:28px;
}
#u26.mouseOver {
}
#u26_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:50px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
  line-height:28px;
}
#u26.mouseDown {
  opacity:0.8;
}
#u26_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
  line-height:28px;
}
#u26.selected {
}
#u27 {
  position:absolute;
  left:0px;
  top:11px;
  width:80px;
  word-wrap:break-word;
}
#u28_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#CCCCCC;
  line-height:28px;
}
#u28 {
  position:absolute;
  left:691px;
  top:0px;
  width:121px;
  height:50px;
  font-size:16px;
  color:#CCCCCC;
  line-height:28px;
}
#u28_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:50px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#CCCCCC;
  line-height:28px;
}
#u28.mouseOver {
}
#u28_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:50px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#CCCCCC;
  line-height:28px;
}
#u28.mouseDown {
  opacity:0.8;
}
#u28_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#CCCCCC;
  line-height:28px;
}
#u28.selected {
}
#u29 {
  position:absolute;
  left:0px;
  top:11px;
  width:121px;
  word-wrap:break-word;
}
#u28_ann {
  position:absolute;
  left:805px;
  top:-4px;
  width:1px;
  height:1px;
}
#u30_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:409;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
  line-height:28px;
}
#u30 {
  position:absolute;
  left:446px;
  top:0px;
  width:121px;
  height:50px;
  font-family:'FontAwesome';
  font-weight:409;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
  line-height:28px;
}
#u30_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:50px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:409;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
  line-height:28px;
}
#u30.mouseOver {
}
#u30_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:50px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:409;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
  line-height:28px;
}
#u30.mouseDown {
  opacity:0.8;
}
#u30_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:409;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
  line-height:28px;
}
#u30.selected {
}
#u31 {
  position:absolute;
  left:0px;
  top:11px;
  width:121px;
  word-wrap:break-word;
}
#u32_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#CCCCCC;
  line-height:28px;
}
#u32 {
  position:absolute;
  left:932px;
  top:0px;
  width:121px;
  height:50px;
  font-size:16px;
  color:#CCCCCC;
  line-height:28px;
}
#u32_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:50px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#CCCCCC;
  line-height:28px;
}
#u32.mouseOver {
}
#u32_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:50px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#CCCCCC;
  line-height:28px;
}
#u32.mouseDown {
  opacity:0.8;
}
#u32_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#CCCCCC;
  line-height:28px;
}
#u32.selected {
}
#u33 {
  position:absolute;
  left:0px;
  top:11px;
  width:121px;
  word-wrap:break-word;
}
#u34_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:409;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
  line-height:28px;
}
#u34 {
  position:absolute;
  left:812px;
  top:0px;
  width:121px;
  height:50px;
  font-family:'FontAwesome';
  font-weight:409;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
  line-height:28px;
}
#u34_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:50px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:409;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
  line-height:28px;
}
#u34.mouseOver {
}
#u34_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:50px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:409;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
  line-height:28px;
}
#u34.mouseDown {
  opacity:0.8;
}
#u34_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:409;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
  line-height:28px;
}
#u34.selected {
}
#u35 {
  position:absolute;
  left:0px;
  top:11px;
  width:121px;
  word-wrap:break-word;
}
#u36_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:409;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
  line-height:28px;
}
#u36 {
  position:absolute;
  left:570px;
  top:0px;
  width:121px;
  height:50px;
  font-family:'FontAwesome';
  font-weight:409;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
  line-height:28px;
}
#u36_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:50px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:409;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
  line-height:28px;
}
#u36.mouseOver {
}
#u36_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:50px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:409;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
  line-height:28px;
}
#u36.mouseDown {
  opacity:0.8;
}
#u36_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:409;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
  line-height:28px;
}
#u36.selected {
}
#u37 {
  position:absolute;
  left:0px;
  top:11px;
  width:121px;
  word-wrap:break-word;
}
