body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-23px;
  width:886px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1513_div {
  position:absolute;
  left:0px;
  top:0px;
  width:876px;
  height:600px;
  background:inherit;
  background-color:rgba(102, 102, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1513 {
  position:absolute;
  left:24px;
  top:20px;
  width:876px;
  height:600px;
}
#u1514 {
  position:absolute;
  left:2px;
  top:292px;
  width:872px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1515_div {
  position:absolute;
  left:0px;
  top:0px;
  width:691px;
  height:80px;
  background:inherit;
  background-color:rgba(102, 51, 153, 0.6);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1515 {
  position:absolute;
  left:23px;
  top:20px;
  width:691px;
  height:80px;
}
#u1516 {
  position:absolute;
  left:2px;
  top:32px;
  width:687px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1517_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1517 {
  position:absolute;
  left:74px;
  top:52px;
  width:89px;
  height:16px;
  color:#FFFFFF;
}
#u1518 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u1519_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1519 {
  position:absolute;
  left:232px;
  top:52px;
  width:89px;
  height:16px;
  color:#FFFFFF;
}
#u1520 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u1521_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1521 {
  position:absolute;
  left:389px;
  top:52px;
  width:89px;
  height:16px;
  color:#FFFFFF;
}
#u1522 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u1523_div {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1523 {
  position:absolute;
  left:547px;
  top:52px;
  width:117px;
  height:16px;
  color:#FFFFFF;
}
#u1524 {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  white-space:nowrap;
}
#u1525_div {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:80px;
  background:inherit;
  background-color:rgba(102, 51, 153, 0.6);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u1525 {
  position:absolute;
  left:714px;
  top:20px;
  width:186px;
  height:80px;
  font-size:16px;
  color:#FFFFFF;
}
#u1526 {
  position:absolute;
  left:2px;
  top:30px;
  width:182px;
  word-wrap:break-word;
}
#u1527_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:121px;
}
#u1527 {
  position:absolute;
  left:738px;
  top:112px;
  width:121px;
  height:121px;
}
#u1528 {
  position:absolute;
  left:2px;
  top:52px;
  width:117px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1529_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#FFFFFF;
}
#u1529 {
  position:absolute;
  left:748px;
  top:242px;
  width:101px;
  height:16px;
  font-size:13px;
  color:#FFFFFF;
}
#u1530 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u1531_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:121px;
}
#u1531 {
  position:absolute;
  left:738px;
  top:278px;
  width:121px;
  height:121px;
}
#u1532 {
  position:absolute;
  left:2px;
  top:52px;
  width:117px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1533_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#FFFFFF;
}
#u1533 {
  position:absolute;
  left:748px;
  top:409px;
  width:101px;
  height:16px;
  font-size:13px;
  color:#FFFFFF;
}
#u1534 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u1535_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:121px;
}
#u1535 {
  position:absolute;
  left:738px;
  top:444px;
  width:121px;
  height:121px;
}
#u1536 {
  position:absolute;
  left:2px;
  top:52px;
  width:117px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1537_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#FFFFFF;
}
#u1537 {
  position:absolute;
  left:748px;
  top:575px;
  width:101px;
  height:16px;
  font-size:13px;
  color:#FFFFFF;
}
#u1538 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u1539_img {
  position:absolute;
  left:0px;
  top:0px;
  width:690px;
  height:518px;
}
#u1539 {
  position:absolute;
  left:24px;
  top:100px;
  width:690px;
  height:518px;
}
#u1540 {
  position:absolute;
  left:2px;
  top:251px;
  width:686px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1541_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u1541 {
  position:absolute;
  left:887px;
  top:10px;
  width:22px;
  height:22px;
  color:#FFFFFF;
}
#u1542 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  word-wrap:break-word;
}
#u1543_div {
  position:absolute;
  left:0px;
  top:0px;
  width:690px;
  height:47px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1543 {
  position:absolute;
  left:24px;
  top:573px;
  width:690px;
  height:47px;
}
#u1544 {
  position:absolute;
  left:2px;
  top:16px;
  width:686px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1545 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1546_div {
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:6px;
  background:inherit;
  background-color:rgba(226, 226, 226, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(226, 226, 226, 1);
  border-radius:54px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1546 {
  position:absolute;
  left:90px;
  top:594px;
  width:540px;
  height:6px;
}
#u1547 {
  position:absolute;
  left:2px;
  top:-5px;
  width:536px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1548_div {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:6px;
  background:inherit;
  background-color:rgba(0, 150, 136, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 150, 136, 1);
  border-radius:54px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1548 {
  position:absolute;
  left:90px;
  top:594px;
  width:174px;
  height:6px;
}
#u1549 {
  position:absolute;
  left:2px;
  top:-5px;
  width:170px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1550_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  text-align:center;
}
#u1550 {
  position:absolute;
  left:38px;
  top:582px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  text-align:center;
}
#u1551 {
  position:absolute;
  left:0px;
  top:1px;
  width:30px;
  word-wrap:break-word;
}
#u1550_ann {
  position:absolute;
  left:61px;
  top:578px;
  width:1px;
  height:1px;
}
#u1552_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1552 {
  position:absolute;
  left:640px;
  top:589px;
  width:57px;
  height:16px;
  color:#FFFFFF;
}
#u1553 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1554_div {
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1554 {
  position:absolute;
  left:400px;
  top:112px;
  width:307px;
  height:16px;
}
#u1555 {
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  white-space:nowrap;
}
#u1554_ann {
  position:absolute;
  left:700px;
  top:108px;
  width:1px;
  height:1px;
}
#u1556 {
  position:absolute;
  left:23px;
  top:100px;
}
#u1556_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u1556_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1557_div {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:472px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1557 {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:472px;
}
#u1558 {
  position:absolute;
  left:2px;
  top:228px;
  width:113px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1559_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1559 {
  position:absolute;
  left:7px;
  top:10px;
  width:69px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1560 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u1559_ann {
  position:absolute;
  left:69px;
  top:6px;
  width:1px;
  height:1px;
}
#u1556_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u1556_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1561_div {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:472px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1561 {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:472px;
}
#u1562 {
  position:absolute;
  left:2px;
  top:228px;
  width:113px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1563_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:70px;
}
#u1563 {
  position:absolute;
  left:7px;
  top:40px;
  width:100px;
  height:70px;
}
#u1564 {
  position:absolute;
  left:2px;
  top:27px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1565_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#1E1E1E;
}
#u1565 {
  position:absolute;
  left:8px;
  top:118px;
  width:77px;
  height:15px;
  font-size:12px;
  color:#1E1E1E;
}
#u1566 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  white-space:nowrap;
}
#u1567_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1567 {
  position:absolute;
  left:7px;
  top:10px;
  width:69px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1568 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u1569_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:70px;
}
#u1569 {
  position:absolute;
  left:8px;
  top:143px;
  width:100px;
  height:70px;
}
#u1570 {
  position:absolute;
  left:2px;
  top:27px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1571_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#1E1E1E;
}
#u1571 {
  position:absolute;
  left:9px;
  top:221px;
  width:77px;
  height:15px;
  font-size:12px;
  color:#1E1E1E;
}
#u1572 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  white-space:nowrap;
}
#u1573_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:70px;
}
#u1573 {
  position:absolute;
  left:8px;
  top:246px;
  width:100px;
  height:70px;
}
#u1574 {
  position:absolute;
  left:2px;
  top:27px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1575_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#1E1E1E;
}
#u1575 {
  position:absolute;
  left:9px;
  top:324px;
  width:77px;
  height:15px;
  font-size:12px;
  color:#1E1E1E;
}
#u1576 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  white-space:nowrap;
}
