body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:916px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1908_div {
  position:absolute;
  left:0px;
  top:0px;
  width:916px;
  height:550px;
  background:inherit;
  background-color:rgba(51, 51, 51, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1908 {
  position:absolute;
  left:0px;
  top:50px;
  width:916px;
  height:550px;
}
#u1909 {
  position:absolute;
  left:2px;
  top:267px;
  width:912px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1910_div {
  position:absolute;
  left:0px;
  top:0px;
  width:916px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:left;
}
#u1910 {
  position:absolute;
  left:0px;
  top:0px;
  width:916px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:left;
}
#u1911 {
  position:absolute;
  left:30px;
  top:16px;
  width:884px;
  word-wrap:break-word;
}
#u1910_ann {
  position:absolute;
  left:909px;
  top:-4px;
  width:1px;
  height:1px;
}
#u1912_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u1912 {
  position:absolute;
  left:873px;
  top:14px;
  width:22px;
  height:22px;
  color:#666666;
}
#u1913 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  word-wrap:break-word;
}
#u1914_img {
  position:absolute;
  left:0px;
  top:0px;
  width:728px;
  height:456px;
}
#u1914 {
  position:absolute;
  left:94px;
  top:50px;
  width:728px;
  height:456px;
}
#u1915 {
  position:absolute;
  left:2px;
  top:220px;
  width:724px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1916_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u1916 {
  position:absolute;
  left:18px;
  top:250px;
  width:42px;
  height:42px;
}
#u1917 {
  position:absolute;
  left:2px;
  top:13px;
  width:38px;
  word-wrap:break-word;
}
#u1918_div {
  position:absolute;
  left:0px;
  top:0px;
  width:916px;
  height:94px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1918 {
  position:absolute;
  left:0px;
  top:506px;
  width:916px;
  height:94px;
}
#u1919 {
  position:absolute;
  left:2px;
  top:39px;
  width:912px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1920_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:60px;
}
#u1920 {
  position:absolute;
  left:92px;
  top:523px;
  width:90px;
  height:60px;
}
#u1921 {
  position:absolute;
  left:2px;
  top:22px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1922_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:60px;
}
#u1922 {
  position:absolute;
  left:198px;
  top:523px;
  width:90px;
  height:60px;
}
#u1923 {
  position:absolute;
  left:2px;
  top:22px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1924_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:60px;
}
#u1924 {
  position:absolute;
  left:305px;
  top:523px;
  width:90px;
  height:60px;
}
#u1925 {
  position:absolute;
  left:2px;
  top:22px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1926_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:60px;
}
#u1926 {
  position:absolute;
  left:411px;
  top:523px;
  width:90px;
  height:60px;
}
#u1927 {
  position:absolute;
  left:2px;
  top:22px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1928_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:60px;
}
#u1928 {
  position:absolute;
  left:517px;
  top:523px;
  width:90px;
  height:60px;
}
#u1929 {
  position:absolute;
  left:2px;
  top:22px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1930_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:60px;
}
#u1930 {
  position:absolute;
  left:624px;
  top:523px;
  width:90px;
  height:60px;
}
#u1931 {
  position:absolute;
  left:2px;
  top:22px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1932_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:60px;
}
#u1932 {
  position:absolute;
  left:730px;
  top:523px;
  width:90px;
  height:60px;
}
#u1933 {
  position:absolute;
  left:2px;
  top:22px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1934_div {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1934 {
  position:absolute;
  left:38px;
  top:545px;
  width:22px;
  height:16px;
}
#u1935 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  word-wrap:break-word;
}
#u1936_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1936 {
  position:absolute;
  left:863px;
  top:545px;
  width:15px;
  height:16px;
}
#u1937 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u1938_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u1938 {
  position:absolute;
  left:850px;
  top:250px;
  width:42px;
  height:42px;
}
#u1939 {
  position:absolute;
  left:2px;
  top:13px;
  width:38px;
  word-wrap:break-word;
}
