body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-23px;
  width:1003px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u694_div {
  position:absolute;
  left:0px;
  top:0px;
  width:990px;
  height:600px;
  background:inherit;
  background-color:rgba(102, 102, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u694 {
  position:absolute;
  left:24px;
  top:20px;
  width:990px;
  height:600px;
}
#u695 {
  position:absolute;
  left:2px;
  top:292px;
  width:986px;
  visibility:hidden;
  word-wrap:break-word;
}
#u696_div {
  position:absolute;
  left:0px;
  top:0px;
  width:691px;
  height:80px;
  background:inherit;
  background-color:rgba(102, 51, 153, 0.6);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u696 {
  position:absolute;
  left:23px;
  top:20px;
  width:691px;
  height:80px;
}
#u697 {
  position:absolute;
  left:2px;
  top:32px;
  width:687px;
  visibility:hidden;
  word-wrap:break-word;
}
#u696_ann {
  position:absolute;
  left:707px;
  top:16px;
  width:1px;
  height:1px;
}
#u698_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u698 {
  position:absolute;
  left:74px;
  top:52px;
  width:89px;
  height:16px;
  color:#FFFFFF;
}
#u699 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u700_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u700 {
  position:absolute;
  left:232px;
  top:52px;
  width:89px;
  height:16px;
  color:#FFFFFF;
}
#u701 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u702_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u702 {
  position:absolute;
  left:389px;
  top:52px;
  width:89px;
  height:16px;
  color:#FFFFFF;
}
#u703 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u704_div {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u704 {
  position:absolute;
  left:547px;
  top:52px;
  width:117px;
  height:16px;
  color:#FFFFFF;
}
#u705 {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  white-space:nowrap;
}
#u706_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:80px;
  background:inherit;
  background-color:rgba(102, 51, 153, 0.6);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u706 {
  position:absolute;
  left:713px;
  top:20px;
  width:151px;
  height:80px;
  font-size:16px;
  color:#FFFFFF;
}
#u707 {
  position:absolute;
  left:2px;
  top:30px;
  width:147px;
  word-wrap:break-word;
}
#u708_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:80px;
  background:inherit;
  background-color:rgba(102, 51, 153, 0.6);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u708 {
  position:absolute;
  left:863px;
  top:20px;
  width:151px;
  height:80px;
  font-size:16px;
  color:#FFFFFF;
}
#u709 {
  position:absolute;
  left:2px;
  top:30px;
  width:147px;
  word-wrap:break-word;
}
#u710_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:121px;
}
#u710 {
  position:absolute;
  left:728px;
  top:110px;
  width:121px;
  height:121px;
}
#u711 {
  position:absolute;
  left:2px;
  top:52px;
  width:117px;
  visibility:hidden;
  word-wrap:break-word;
}
#u712_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#FFFFFF;
}
#u712 {
  position:absolute;
  left:738px;
  top:240px;
  width:101px;
  height:16px;
  font-size:13px;
  color:#FFFFFF;
}
#u713 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u714_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:121px;
}
#u714 {
  position:absolute;
  left:875px;
  top:110px;
  width:121px;
  height:121px;
}
#u715 {
  position:absolute;
  left:2px;
  top:52px;
  width:117px;
  visibility:hidden;
  word-wrap:break-word;
}
#u716_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#FFFFFF;
}
#u716 {
  position:absolute;
  left:885px;
  top:240px;
  width:101px;
  height:16px;
  font-size:13px;
  color:#FFFFFF;
}
#u717 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u718_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:121px;
}
#u718 {
  position:absolute;
  left:728px;
  top:276px;
  width:121px;
  height:121px;
}
#u719 {
  position:absolute;
  left:2px;
  top:52px;
  width:117px;
  visibility:hidden;
  word-wrap:break-word;
}
#u720_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#FFFFFF;
}
#u720 {
  position:absolute;
  left:738px;
  top:407px;
  width:101px;
  height:16px;
  font-size:13px;
  color:#FFFFFF;
}
#u721 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u722_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:121px;
}
#u722 {
  position:absolute;
  left:875px;
  top:276px;
  width:121px;
  height:121px;
}
#u723 {
  position:absolute;
  left:2px;
  top:52px;
  width:117px;
  visibility:hidden;
  word-wrap:break-word;
}
#u724_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#FFFFFF;
}
#u724 {
  position:absolute;
  left:885px;
  top:407px;
  width:101px;
  height:16px;
  font-size:13px;
  color:#FFFFFF;
}
#u725 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u726_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:121px;
}
#u726 {
  position:absolute;
  left:728px;
  top:442px;
  width:121px;
  height:121px;
}
#u727 {
  position:absolute;
  left:2px;
  top:52px;
  width:117px;
  visibility:hidden;
  word-wrap:break-word;
}
#u728_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#FFFFFF;
}
#u728 {
  position:absolute;
  left:738px;
  top:573px;
  width:101px;
  height:16px;
  font-size:13px;
  color:#FFFFFF;
}
#u729 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u730_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:121px;
}
#u730 {
  position:absolute;
  left:875px;
  top:442px;
  width:121px;
  height:121px;
}
#u731 {
  position:absolute;
  left:2px;
  top:52px;
  width:117px;
  visibility:hidden;
  word-wrap:break-word;
}
#u732_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#FFFFFF;
}
#u732 {
  position:absolute;
  left:885px;
  top:573px;
  width:101px;
  height:16px;
  font-size:13px;
  color:#FFFFFF;
}
#u733 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u734_img {
  position:absolute;
  left:0px;
  top:0px;
  width:690px;
  height:518px;
}
#u734 {
  position:absolute;
  left:24px;
  top:100px;
  width:690px;
  height:518px;
}
#u735 {
  position:absolute;
  left:2px;
  top:251px;
  width:686px;
  visibility:hidden;
  word-wrap:break-word;
}
#u736_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u736 {
  position:absolute;
  left:668px;
  top:584px;
  width:26px;
  height:26px;
}
#u737 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u736_ann {
  position:absolute;
  left:687px;
  top:580px;
  width:1px;
  height:1px;
}
#u738_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u738 {
  position:absolute;
  left:1004px;
  top:8px;
  width:22px;
  height:22px;
  color:#FFFFFF;
}
#u739 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  word-wrap:break-word;
}
#u740_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u740 {
  position:absolute;
  left:40px;
  top:110px;
  width:61px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u741 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
