body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1020px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3380_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1020px;
  height:501px;
}
#u3380 {
  position:absolute;
  left:0px;
  top:0px;
  width:1020px;
  height:501px;
}
#u3381 {
  position:absolute;
  left:2px;
  top:242px;
  width:1016px;
  visibility:hidden;
  word-wrap:break-word;
}
