body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:600px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7864_div {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:620px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7864 {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:620px;
}
#u7865 {
  position:absolute;
  left:2px;
  top:302px;
  width:596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7866_div {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:left;
}
#u7866 {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:left;
}
#u7867 {
  position:absolute;
  left:30px;
  top:16px;
  width:568px;
  word-wrap:break-word;
}
#u7868_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u7868 {
  position:absolute;
  left:560px;
  top:14px;
  width:22px;
  height:22px;
  color:#666666;
}
#u7869 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  word-wrap:break-word;
}
#u7870_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(26, 188, 156, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1ABC9C;
}
#u7870 {
  position:absolute;
  left:403px;
  top:523px;
  width:80px;
  height:35px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1ABC9C;
}
#u7870_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(26, 188, 156, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1ABC9C;
}
#u7870.mouseDown {
}
#u7871 {
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u7872_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:35px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7872 {
  position:absolute;
  left:495px;
  top:523px;
  width:80px;
  height:35px;
}
#u7873 {
  position:absolute;
  left:2px;
  top:10px;
  width:76px;
  word-wrap:break-word;
}
#u7874 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7875_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7875 {
  position:absolute;
  left:28px;
  top:89px;
  width:57px;
  height:16px;
}
#u7876 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u7877 {
  position:absolute;
  left:93px;
  top:84px;
  width:111px;
  height:25px;
}
#u7877_input {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u7878 {
  position:absolute;
  left:28px;
  top:143px;
  width:541px;
  height:325px;
}
#u7879_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:40px;
}
#u7879 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:40px;
  text-align:left;
}
#u7880 {
  position:absolute;
  left:20px;
  top:12px;
  width:49px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7881_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:40px;
}
#u7881 {
  position:absolute;
  left:71px;
  top:0px;
  width:48px;
  height:40px;
  text-align:left;
}
#u7882 {
  position:absolute;
  left:20px;
  top:12px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7883_img {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:40px;
}
#u7883 {
  position:absolute;
  left:119px;
  top:0px;
  width:204px;
  height:40px;
  text-align:left;
}
#u7884 {
  position:absolute;
  left:40px;
  top:12px;
  width:162px;
  word-wrap:break-word;
}
#u7885_img {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:40px;
}
#u7885 {
  position:absolute;
  left:323px;
  top:0px;
  width:213px;
  height:40px;
  text-align:left;
}
#u7886 {
  position:absolute;
  left:20px;
  top:12px;
  width:191px;
  word-wrap:break-word;
}
#u7887_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:40px;
}
#u7887 {
  position:absolute;
  left:0px;
  top:40px;
  width:71px;
  height:40px;
  text-align:left;
}
#u7888 {
  position:absolute;
  left:20px;
  top:12px;
  width:49px;
  word-wrap:break-word;
}
#u7889_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:40px;
}
#u7889 {
  position:absolute;
  left:71px;
  top:40px;
  width:48px;
  height:40px;
  text-align:left;
}
#u7890 {
  position:absolute;
  left:20px;
  top:12px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7891_img {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:40px;
}
#u7891 {
  position:absolute;
  left:119px;
  top:40px;
  width:204px;
  height:40px;
  text-align:left;
}
#u7892 {
  position:absolute;
  left:40px;
  top:12px;
  width:162px;
  word-wrap:break-word;
}
#u7893_img {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:40px;
}
#u7893 {
  position:absolute;
  left:323px;
  top:40px;
  width:213px;
  height:40px;
  text-align:left;
}
#u7894 {
  position:absolute;
  left:20px;
  top:12px;
  width:191px;
  word-wrap:break-word;
}
#u7895_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:40px;
}
#u7895 {
  position:absolute;
  left:0px;
  top:80px;
  width:71px;
  height:40px;
  text-align:left;
}
#u7896 {
  position:absolute;
  left:20px;
  top:12px;
  width:49px;
  word-wrap:break-word;
}
#u7897_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:40px;
}
#u7897 {
  position:absolute;
  left:71px;
  top:80px;
  width:48px;
  height:40px;
  text-align:left;
}
#u7898 {
  position:absolute;
  left:20px;
  top:12px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7899_img {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:40px;
}
#u7899 {
  position:absolute;
  left:119px;
  top:80px;
  width:204px;
  height:40px;
  text-align:left;
}
#u7900 {
  position:absolute;
  left:60px;
  top:12px;
  width:142px;
  word-wrap:break-word;
}
#u7901_img {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:40px;
}
#u7901 {
  position:absolute;
  left:323px;
  top:80px;
  width:213px;
  height:40px;
  text-align:left;
}
#u7902 {
  position:absolute;
  left:20px;
  top:12px;
  width:191px;
  word-wrap:break-word;
}
#u7903_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:40px;
}
#u7903 {
  position:absolute;
  left:0px;
  top:120px;
  width:71px;
  height:40px;
  text-align:left;
}
#u7904 {
  position:absolute;
  left:20px;
  top:12px;
  width:49px;
  word-wrap:break-word;
}
#u7905_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:40px;
}
#u7905 {
  position:absolute;
  left:71px;
  top:120px;
  width:48px;
  height:40px;
  text-align:left;
}
#u7906 {
  position:absolute;
  left:20px;
  top:12px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7907_img {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:40px;
}
#u7907 {
  position:absolute;
  left:119px;
  top:120px;
  width:204px;
  height:40px;
  text-align:left;
}
#u7908 {
  position:absolute;
  left:80px;
  top:12px;
  width:122px;
  word-wrap:break-word;
}
#u7909_img {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:40px;
}
#u7909 {
  position:absolute;
  left:323px;
  top:120px;
  width:213px;
  height:40px;
  text-align:left;
}
#u7910 {
  position:absolute;
  left:20px;
  top:12px;
  width:191px;
  word-wrap:break-word;
}
#u7911_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:40px;
}
#u7911 {
  position:absolute;
  left:0px;
  top:160px;
  width:71px;
  height:40px;
  text-align:left;
}
#u7912 {
  position:absolute;
  left:20px;
  top:12px;
  width:49px;
  word-wrap:break-word;
}
#u7913_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:40px;
}
#u7913 {
  position:absolute;
  left:71px;
  top:160px;
  width:48px;
  height:40px;
  text-align:left;
}
#u7914 {
  position:absolute;
  left:20px;
  top:12px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7915_img {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:40px;
}
#u7915 {
  position:absolute;
  left:119px;
  top:160px;
  width:204px;
  height:40px;
  text-align:left;
}
#u7916 {
  position:absolute;
  left:60px;
  top:12px;
  width:142px;
  word-wrap:break-word;
}
#u7917_img {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:40px;
}
#u7917 {
  position:absolute;
  left:323px;
  top:160px;
  width:213px;
  height:40px;
  text-align:left;
}
#u7918 {
  position:absolute;
  left:20px;
  top:12px;
  width:191px;
  word-wrap:break-word;
}
#u7919_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:40px;
}
#u7919 {
  position:absolute;
  left:0px;
  top:200px;
  width:71px;
  height:40px;
  text-align:left;
}
#u7920 {
  position:absolute;
  left:20px;
  top:12px;
  width:49px;
  word-wrap:break-word;
}
#u7921_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:40px;
}
#u7921 {
  position:absolute;
  left:71px;
  top:200px;
  width:48px;
  height:40px;
  text-align:left;
}
#u7922 {
  position:absolute;
  left:20px;
  top:12px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7923_img {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:40px;
}
#u7923 {
  position:absolute;
  left:119px;
  top:200px;
  width:204px;
  height:40px;
  text-align:left;
}
#u7924 {
  position:absolute;
  left:60px;
  top:12px;
  width:142px;
  word-wrap:break-word;
}
#u7925_img {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:40px;
}
#u7925 {
  position:absolute;
  left:323px;
  top:200px;
  width:213px;
  height:40px;
  text-align:left;
}
#u7926 {
  position:absolute;
  left:20px;
  top:12px;
  width:191px;
  word-wrap:break-word;
}
#u7927_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:40px;
}
#u7927 {
  position:absolute;
  left:0px;
  top:240px;
  width:71px;
  height:40px;
  text-align:left;
}
#u7928 {
  position:absolute;
  left:20px;
  top:12px;
  width:49px;
  word-wrap:break-word;
}
#u7929_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:40px;
}
#u7929 {
  position:absolute;
  left:71px;
  top:240px;
  width:48px;
  height:40px;
  text-align:left;
}
#u7930 {
  position:absolute;
  left:20px;
  top:12px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7931_img {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:40px;
}
#u7931 {
  position:absolute;
  left:119px;
  top:240px;
  width:204px;
  height:40px;
  text-align:left;
}
#u7932 {
  position:absolute;
  left:80px;
  top:12px;
  width:122px;
  word-wrap:break-word;
}
#u7933_img {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:40px;
}
#u7933 {
  position:absolute;
  left:323px;
  top:240px;
  width:213px;
  height:40px;
  text-align:left;
}
#u7934 {
  position:absolute;
  left:20px;
  top:12px;
  width:191px;
  word-wrap:break-word;
}
#u7935_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:40px;
}
#u7935 {
  position:absolute;
  left:0px;
  top:280px;
  width:71px;
  height:40px;
  text-align:left;
}
#u7936 {
  position:absolute;
  left:20px;
  top:12px;
  width:49px;
  word-wrap:break-word;
}
#u7937_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:40px;
}
#u7937 {
  position:absolute;
  left:71px;
  top:280px;
  width:48px;
  height:40px;
  text-align:left;
}
#u7938 {
  position:absolute;
  left:20px;
  top:12px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7939_img {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:40px;
}
#u7939 {
  position:absolute;
  left:119px;
  top:280px;
  width:204px;
  height:40px;
  text-align:left;
}
#u7940 {
  position:absolute;
  left:80px;
  top:12px;
  width:122px;
  word-wrap:break-word;
}
#u7941_img {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:40px;
}
#u7941 {
  position:absolute;
  left:323px;
  top:280px;
  width:213px;
  height:40px;
  text-align:left;
}
#u7942 {
  position:absolute;
  left:20px;
  top:12px;
  width:191px;
  word-wrap:break-word;
}
#u7943_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:21px;
}
#u7943 {
  position:absolute;
  left:202px;
  top:273px;
  width:20px;
  height:21px;
}
#u7944 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7945_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:16px;
}
#u7945 {
  position:absolute;
  left:148px;
  top:195px;
  width:34px;
  height:16px;
}
#u7946 {
  position:absolute;
  left:2px;
  top:0px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7947_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:18px;
}
#u7947 {
  position:absolute;
  left:168px;
  top:314px;
  width:35px;
  height:18px;
}
#u7948 {
  position:absolute;
  left:2px;
  top:1px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7949_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:16px;
}
#u7949 {
  position:absolute;
  left:169px;
  top:235px;
  width:34px;
  height:16px;
}
#u7950 {
  position:absolute;
  left:2px;
  top:0px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7951_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:16px;
}
#u7951 {
  position:absolute;
  left:169px;
  top:355px;
  width:34px;
  height:16px;
}
#u7952 {
  position:absolute;
  left:2px;
  top:0px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7953_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:21px;
}
#u7953 {
  position:absolute;
  left:202px;
  top:393px;
  width:20px;
  height:21px;
}
#u7954 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7955_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:21px;
}
#u7955 {
  position:absolute;
  left:202px;
  top:432px;
  width:20px;
  height:21px;
}
#u7956 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7957 {
  position:absolute;
  left:117px;
  top:195px;
  width:21px;
  height:16px;
}
#u7958 {
  position:absolute;
  left:16px;
  top:0px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7957_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u7959 {
  position:absolute;
  left:117px;
  top:235px;
  width:21px;
  height:16px;
}
#u7960 {
  position:absolute;
  left:16px;
  top:0px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7959_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u7961 {
  position:absolute;
  left:117px;
  top:275px;
  width:21px;
  height:16px;
}
#u7962 {
  position:absolute;
  left:16px;
  top:0px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7961_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u7963 {
  position:absolute;
  left:117px;
  top:315px;
  width:21px;
  height:16px;
}
#u7964 {
  position:absolute;
  left:16px;
  top:0px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7963_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u7965 {
  position:absolute;
  left:117px;
  top:355px;
  width:21px;
  height:16px;
}
#u7966 {
  position:absolute;
  left:16px;
  top:0px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7965_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u7967 {
  position:absolute;
  left:117px;
  top:398px;
  width:21px;
  height:16px;
}
#u7968 {
  position:absolute;
  left:16px;
  top:0px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7967_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u7969 {
  position:absolute;
  left:117px;
  top:437px;
  width:21px;
  height:16px;
}
#u7970 {
  position:absolute;
  left:16px;
  top:0px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7969_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u7971 {
  position:absolute;
  left:117px;
  top:157px;
  width:21px;
  height:16px;
}
#u7972 {
  position:absolute;
  left:16px;
  top:0px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7971_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u7973 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7974_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7974 {
  position:absolute;
  left:226px;
  top:89px;
  width:57px;
  height:16px;
}
#u7975 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u7976 {
  position:absolute;
  left:289px;
  top:84px;
  width:111px;
  height:25px;
}
#u7976_input {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u7977_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(119, 119, 119, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u7977 {
  position:absolute;
  left:428px;
  top:83px;
  width:61px;
  height:28px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u7977_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:28px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(119, 119, 119, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u7977.mouseDown {
}
#u7978 {
  position:absolute;
  left:2px;
  top:4px;
  width:57px;
  word-wrap:break-word;
}
#u7979_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(119, 119, 119, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u7979 {
  position:absolute;
  left:502px;
  top:83px;
  width:61px;
  height:28px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u7979_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:28px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(119, 119, 119, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u7979.mouseDown {
}
#u7980 {
  position:absolute;
  left:2px;
  top:4px;
  width:57px;
  word-wrap:break-word;
}
