body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:790px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u9477 {
  position:absolute;
  left:0px;
  top:0px;
  width:795px;
  height:437px;
}
#u9478_img {
  position:absolute;
  left:0px;
  top:0px;
  width:790px;
  height:30px;
}
#u9478 {
  position:absolute;
  left:0px;
  top:0px;
  width:790px;
  height:30px;
  text-align:left;
}
#u9479 {
  position:absolute;
  left:10px;
  top:5px;
  width:778px;
  word-wrap:break-word;
}
#u9480_img {
  position:absolute;
  left:0px;
  top:0px;
  width:790px;
  height:76px;
}
#u9480 {
  position:absolute;
  left:0px;
  top:30px;
  width:790px;
  height:76px;
  text-align:left;
}
#u9481 {
  position:absolute;
  left:10px;
  top:5px;
  width:778px;
  word-wrap:break-word;
}
#u9482_img {
  position:absolute;
  left:0px;
  top:0px;
  width:790px;
  height:30px;
}
#u9482 {
  position:absolute;
  left:0px;
  top:106px;
  width:790px;
  height:30px;
  text-align:left;
}
#u9483 {
  position:absolute;
  left:10px;
  top:5px;
  width:778px;
  word-wrap:break-word;
}
#u9484_img {
  position:absolute;
  left:0px;
  top:0px;
  width:790px;
  height:123px;
}
#u9484 {
  position:absolute;
  left:0px;
  top:136px;
  width:790px;
  height:123px;
  text-align:left;
}
#u9485 {
  position:absolute;
  left:10px;
  top:5px;
  width:778px;
  word-wrap:break-word;
}
#u9486_img {
  position:absolute;
  left:0px;
  top:0px;
  width:790px;
  height:30px;
}
#u9486 {
  position:absolute;
  left:0px;
  top:259px;
  width:790px;
  height:30px;
  text-align:left;
}
#u9487 {
  position:absolute;
  left:10px;
  top:5px;
  width:778px;
  word-wrap:break-word;
}
#u9488_img {
  position:absolute;
  left:0px;
  top:0px;
  width:790px;
  height:49px;
}
#u9488 {
  position:absolute;
  left:0px;
  top:289px;
  width:790px;
  height:49px;
  text-align:left;
}
#u9489 {
  position:absolute;
  left:10px;
  top:5px;
  width:778px;
  word-wrap:break-word;
}
#u9490_img {
  position:absolute;
  left:0px;
  top:0px;
  width:790px;
  height:30px;
}
#u9490 {
  position:absolute;
  left:0px;
  top:338px;
  width:790px;
  height:30px;
  text-align:left;
}
#u9491 {
  position:absolute;
  left:10px;
  top:5px;
  width:778px;
  word-wrap:break-word;
}
#u9492_img {
  position:absolute;
  left:0px;
  top:0px;
  width:790px;
  height:64px;
}
#u9492 {
  position:absolute;
  left:0px;
  top:368px;
  width:790px;
  height:64px;
  text-align:left;
}
#u9493 {
  position:absolute;
  left:10px;
  top:5px;
  width:778px;
  word-wrap:break-word;
}
