body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:500px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5076_div {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:340px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5076 {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:340px;
}
#u5077 {
  position:absolute;
  left:2px;
  top:162px;
  width:496px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5078_div {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:left;
}
#u5078 {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:left;
}
#u5079 {
  position:absolute;
  left:30px;
  top:16px;
  width:468px;
  word-wrap:break-word;
}
#u5080_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u5080 {
  position:absolute;
  left:470px;
  top:14px;
  width:22px;
  height:22px;
  color:#666666;
}
#u5081 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  word-wrap:break-word;
}
#u5082 {
  position:absolute;
  left:31px;
  top:80px;
  width:440px;
  height:205px;
}
#u5083_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:50px;
}
#u5083 {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:50px;
  text-align:left;
}
#u5084 {
  position:absolute;
  left:20px;
  top:17px;
  width:95px;
  word-wrap:break-word;
}
#u5085_img {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:50px;
}
#u5085 {
  position:absolute;
  left:117px;
  top:0px;
  width:318px;
  height:50px;
  text-align:left;
}
#u5086 {
  position:absolute;
  left:20px;
  top:17px;
  width:296px;
  word-wrap:break-word;
}
#u5087_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:50px;
}
#u5087 {
  position:absolute;
  left:0px;
  top:50px;
  width:117px;
  height:50px;
  text-align:left;
}
#u5088 {
  position:absolute;
  left:20px;
  top:17px;
  width:95px;
  word-wrap:break-word;
}
#u5089_img {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:50px;
}
#u5089 {
  position:absolute;
  left:117px;
  top:50px;
  width:318px;
  height:50px;
  text-align:left;
}
#u5090 {
  position:absolute;
  left:20px;
  top:17px;
  width:296px;
  word-wrap:break-word;
}
#u5091_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:50px;
}
#u5091 {
  position:absolute;
  left:0px;
  top:100px;
  width:117px;
  height:50px;
  text-align:left;
}
#u5092 {
  position:absolute;
  left:20px;
  top:17px;
  width:95px;
  word-wrap:break-word;
}
#u5093_img {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:50px;
}
#u5093 {
  position:absolute;
  left:117px;
  top:100px;
  width:318px;
  height:50px;
  text-align:left;
}
#u5094 {
  position:absolute;
  left:20px;
  top:17px;
  width:296px;
  word-wrap:break-word;
}
#u5095_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:50px;
}
#u5095 {
  position:absolute;
  left:0px;
  top:150px;
  width:117px;
  height:50px;
  text-align:left;
}
#u5096 {
  position:absolute;
  left:20px;
  top:17px;
  width:95px;
  word-wrap:break-word;
}
#u5097_img {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:50px;
}
#u5097 {
  position:absolute;
  left:117px;
  top:150px;
  width:318px;
  height:50px;
  text-align:left;
}
#u5098 {
  position:absolute;
  left:20px;
  top:17px;
  width:296px;
  word-wrap:break-word;
}
