body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:600px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5473_div {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:550px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5473 {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:550px;
}
#u5474 {
  position:absolute;
  left:2px;
  top:267px;
  width:596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5475_div {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:left;
}
#u5475 {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:left;
}
#u5476 {
  position:absolute;
  left:30px;
  top:16px;
  width:568px;
  word-wrap:break-word;
}
#u5477_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u5477 {
  position:absolute;
  left:560px;
  top:14px;
  width:22px;
  height:22px;
  color:#666666;
}
#u5478 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  word-wrap:break-word;
}
#u5479_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(26, 188, 156, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1ABC9C;
}
#u5479 {
  position:absolute;
  left:398px;
  top:490px;
  width:80px;
  height:35px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1ABC9C;
}
#u5479_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(26, 188, 156, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1ABC9C;
}
#u5479.mouseDown {
}
#u5480 {
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u5481_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:35px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5481 {
  position:absolute;
  left:490px;
  top:490px;
  width:80px;
  height:35px;
}
#u5482 {
  position:absolute;
  left:2px;
  top:10px;
  width:76px;
  word-wrap:break-word;
}
#u5483_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5483 {
  position:absolute;
  left:30px;
  top:74px;
  width:62px;
  height:16px;
}
#u5484 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u5485 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5486_div {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5486 {
  position:absolute;
  left:30px;
  top:104px;
  width:250px;
  height:36px;
}
#u5487 {
  position:absolute;
  left:2px;
  top:10px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5488 {
  position:absolute;
  left:34px;
  top:110px;
  width:243px;
  height:24px;
}
#u5488_input {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:24px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u5489_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5489 {
  position:absolute;
  left:30px;
  top:165px;
  width:71px;
  height:16px;
}
#u5490 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u5491_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5491 {
  position:absolute;
  left:30px;
  top:262px;
  width:57px;
  height:16px;
}
#u5492 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5493 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5494_div {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5494 {
  position:absolute;
  left:30px;
  top:291px;
  width:250px;
  height:36px;
}
#u5495 {
  position:absolute;
  left:2px;
  top:10px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5496 {
  position:absolute;
  left:34px;
  top:297px;
  width:243px;
  height:24px;
}
#u5496_input {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:24px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u5497_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5497 {
  position:absolute;
  left:320px;
  top:74px;
  width:62px;
  height:16px;
}
#u5498 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u5499 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5500_div {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5500 {
  position:absolute;
  left:320px;
  top:103px;
  width:250px;
  height:36px;
}
#u5501 {
  position:absolute;
  left:2px;
  top:10px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5502 {
  position:absolute;
  left:324px;
  top:109px;
  width:243px;
  height:24px;
}
#u5502_input {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:24px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u5503_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5503 {
  position:absolute;
  left:320px;
  top:165px;
  width:62px;
  height:16px;
}
#u5504 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u5505 {
  position:absolute;
  left:320px;
  top:197px;
  width:250px;
  height:36px;
}
#u5505_input {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:36px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u5505_input:disabled {
  color:grayText;
}
#u5506 {
  position:absolute;
  left:30px;
  top:197px;
  width:250px;
  height:36px;
}
#u5506_input {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:36px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u5506_input:disabled {
  color:grayText;
}
#u5507_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5507 {
  position:absolute;
  left:320px;
  top:262px;
  width:57px;
  height:16px;
}
#u5508 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5509 {
  position:absolute;
  left:320px;
  top:294px;
  width:250px;
  height:36px;
}
#u5509_input {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:36px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u5509_input:disabled {
  color:grayText;
}
#u5510_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5510 {
  position:absolute;
  left:27px;
  top:358px;
  width:57px;
  height:16px;
}
#u5511 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5512 {
  position:absolute;
  left:27px;
  top:390px;
  width:250px;
  height:36px;
}
#u5512_input {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:36px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u5512_input:disabled {
  color:grayText;
}
