body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1350px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1941 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:800px;
  overflow:hidden;
}
#u1941_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:800px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-color:rgba(252, 252, 252, 1);
  background-image:none;
}
#u1941_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1942_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  background:inherit;
  background-color:rgba(249, 249, 249, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:409;
  font-style:normal;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u1942 {
  position:absolute;
  left:0px;
  top:50px;
  width:200px;
  height:50px;
  font-family:'FontAwesome';
  font-weight:409;
  font-style:normal;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u1942_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  background:inherit;
  background-color:rgba(249, 249, 249, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:409;
  font-style:normal;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u1942.mouseOver {
}
#u1942_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  background:inherit;
  background-color:rgba(249, 249, 249, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:409;
  font-style:normal;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u1942.selected {
}
#u1943 {
  position:absolute;
  left:30px;
  top:17px;
  width:168px;
  word-wrap:break-word;
}
#u1944_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  background:inherit;
  background-color:rgba(249, 249, 249, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:409;
  font-style:normal;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u1944 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  font-family:'FontAwesome';
  font-weight:409;
  font-style:normal;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u1944_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  background:inherit;
  background-color:rgba(249, 249, 249, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:409;
  font-style:normal;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u1944.mouseOver {
}
#u1944_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  background:inherit;
  background-color:rgba(249, 249, 249, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:409;
  font-style:normal;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u1944.selected {
}
#u1945 {
  position:absolute;
  left:30px;
  top:17px;
  width:168px;
  word-wrap:break-word;
}
#u1946_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  background:inherit;
  background-color:rgba(249, 249, 249, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:409;
  font-style:normal;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u1946 {
  position:absolute;
  left:0px;
  top:150px;
  width:200px;
  height:50px;
  font-family:'FontAwesome';
  font-weight:409;
  font-style:normal;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u1946_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  background:inherit;
  background-color:rgba(249, 249, 249, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:409;
  font-style:normal;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u1946.mouseOver {
}
#u1946_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  background:inherit;
  background-color:rgba(249, 249, 249, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:409;
  font-style:normal;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u1946.selected {
}
#u1947 {
  position:absolute;
  left:30px;
  top:17px;
  width:168px;
  word-wrap:break-word;
}
#u1948_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  background:inherit;
  background-color:rgba(249, 249, 249, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:409;
  font-style:normal;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u1948 {
  position:absolute;
  left:0px;
  top:100px;
  width:200px;
  height:50px;
  font-family:'FontAwesome';
  font-weight:409;
  font-style:normal;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u1948_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  background:inherit;
  background-color:rgba(249, 249, 249, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:409;
  font-style:normal;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u1948.mouseOver {
}
#u1948_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  background:inherit;
  background-color:rgba(249, 249, 249, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:409;
  font-style:normal;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u1948.selected {
}
#u1949 {
  position:absolute;
  left:30px;
  top:17px;
  width:168px;
  word-wrap:break-word;
}
#u1950 {
  position:absolute;
  left:200px;
  top:0px;
  width:1150px;
  height:800px;
}
#u1950_input {
  position:absolute;
  left:0px;
  top:0px;
  width:1150px;
  height:800px;
}
